$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$background-color: #4e4e4e;
$font-color: #dfdfdf;
$border-color: #fff;
$bottom-bar-text-color: #313131;
$title-color: #ff0000;


body {
  background-color: $background-color;
  color: $font-color;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    background-color: transparent;
    color: #999999;
}

.modal-content {
  color: $bottom-bar-text-color;
}

.game {
  height: 600px;
  margin: 50px auto;
  width: 600px;
}

.board {
  height: 100%;
  width: 100%;
}

#brand{
  font-size: 30px;
}


.bottom-box {
  border-color: $border-color;
  border-style: solid;
  border-width: 4px;
  height: 200px;
  margin: 50px auto;
  width: 500px;
}

.square {
  border-color: $border-color;
  border-width: 2px;
  cursor: pointer;
  display: table-cell;
  float: left;
  font-size: 60px;
  height: 33.3333%;
  text-align: center;
  vertical-align: middle;
  width: 33.3333%;
  will-change: border-color;
}

#reset-button {
  margin: auto;
  position: relative;
}

.alert-box {
    font-size: 30px;
    text-align: center;
}



.xo {
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  border-right-style: solid;
  clear: both;
}

.right {
  border-left-style: solid;
}

.top {
  border-bottom-style: solid;
}

.bottom {
  border-top-style: solid;
}

.player-info {
  float: right;
}
